[data-palladio-metavis] input[type="checkbox"]:checked {
    content: "\2715";
    font-size: 0.90em;
    text-align: left;
    width: 16px;
}

[data-palladio-metavis] .tooltip-inner {
    max-width: 350px;
}

[data-palladio-metavis] .table-label {
  max-width: 200px;
  display: inline-block;
}